#!/usr/bin/make -f

export PYBUILD_NAME=constantly
ifeq ($(PYBUILD_AUTOPKGTEST),1)
export PYBUILD_BEFORE_TEST=cp -a {dir}/constantly/test/ {build_dir}/
export PYBUILD_AFTER_TEST=rm -rf {build_dir}/test/
endif

%:
	dh $@ --buildsystem=pybuild
